.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #16171f;
}
.home-text {
  color: rgb(222, 222, 222);
  font-size: 32px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-weight: 600;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.home-link {
  text-decoration: underline;
}
.home-container1 {
  width: 100%;
  height: 472px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-div {
  width: 372px;
  height: 202px;
}
.home-text04 {
  color: rgb(222, 222, 222);
  margin-top: var(--dl-space-space-fourunits);
  margin-left: var(--dl-space-space-sixunits);
}
.home-text05 {
  color: rgb(222, 222, 222);
  font-size: 26px;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 2;
}
.home-text06 {
  font-style: normal;
}
.home-text08 {
  font-style: italic;
}
.home-text09 {
  font-style: normal;
}
.home-text10 {
  font-style: normal;
}
.home-text11 {
  font-style: normal;
}
.home-div1 {
  top: 91px;
  right: 51px;
  width: 279px;
  height: 290px;
  position: absolute;
  align-self: flex-end;
}
.home-container2 {
  width: 100%;
  height: 634px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text12 {
  color: rgb(222, 222, 222);
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.home-div2 {
  width: 600px;
  height: 1164px;
  align-self: center;
  margin-right: Infinitypx;
}
.home-div3 {
  top: -Infinitypx;
  left: -Infinitypx;
  width: 326px;
  height: 255px;
  position: absolute;
  align-self: flex-start;
}
.home-div4 {
  right: 51px;
  bottom: 135px;
  position: absolute;
}
.home-social-bar {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.home-text13 {
  color: rgb(138, 138, 138);
  font-size: 14px;
}
.home-text15 {
  font-style: italic;
}
@media(max-width: 767px) {
  .home-social-bar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .home-text05 {
    color: rgb(222, 222, 222);
    font-family: Inter;
  }
  .home-container2 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-text12 {
    text-align: center;
  }
  .home-social-bar {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
